/*
	Colors
	======
	
	Header/Active Page Link/Footer :	#474747
	Main Panel/Side Panel/Tweets Text:	#575857
	Background/Tweet Box:				#d9d9d9
	Slogan:								#cccccc
	Main Text/Nav Bar/Footer Border:	#dedede 
	Link Color:							#cecece
*/

#main_panel {
	position: relative;
	width: 1040px;
}

#contact_form {
	margin-top: 50px;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

#contact_form td {
	padding-right: 15px;
}

#contact_form input {
	width: 300px;
}
